/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(37, 6, 109);
  }

  h1, h2, h3 {
    font-family: 'Roboto Slab', serif; /* Fuente para títulos */
  }
  
  /* Estilos del navbar */
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  /* Estilos del carrusel */
  .carousel-item img {
    max-height: 500px;
    object-fit: cover;
  }
  
  /* Estilos de las tarjetas de productos */
  .card {
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-img-top {
    height: 250px;
    object-fit: cover;
  }
  
  /* Estilos del modal del carrito */
  .modal-header {
    background-color: #343a40;
    color: #fff;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #343a40;
    color: #fff;
    margin-top: auto;
  }

.container .mt-5{
  margin-bottom: 12px;
}

.card{
  color: rgb(54, 54, 54);
}

#carouselExampleIndicators{
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

@media (max-width: 768px) { 
  /* Estilos para tablets y dispositivos más pequeños */
  .card-img-top {
      height: auto; /* Permite que la imagen se ajuste automáticamente */
  }

  #carouselExampleIndicators {
      padding-top: 50px;
      padding-bottom: 50px;
  }
}

@media (max-width: 576px) { 
  /* Estilos para teléfonos móviles */
  #carouselExampleIndicators {
      padding-top: 30px;
      padding-bottom: 30px;
  }
}


